.btn {
    cursor: pointer;
    position: relative;
    padding: 12px 30px;
    display: block;
    text-decoration: none;
    width: 200px;
    font-weight: 600;
    overflow: hidden;
    border-radius: 40px;
    text-align: center;
}

.content {
    position: relative;
    color: #fff;
    font-size: 16px;
    z-index: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.liquid {
    position: absolute;
    top: -80px;
    left: 0;
    width: 200px;
    height: 200px;
    background: var(--color-primary);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: .5s;

    &::before,
    &::after {
        content: '';
        width: 200%;
        height: 200%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -75%);
        background: transparent;
    }

    &::before {
        border-radius: 45%;
        // background: var(--color-primary-400);
        background: var(--color-tertiary);
        animation: animate 5s linear infinite;
    }
    
    &::after {
        border-radius: 40%;
        // background: var(--color-primary-400);
        background: var(--color-primary-400);
        animation: animate 10s linear infinite;
    }
}

.btn:hover .liquid {
    top: -120px;
}
  
@keyframes animate {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}